.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Loading {
  position: fixed;
  top: 50%;
  left: 50%;
}

.large-margin-top {
  margin-top: 80px;
}

.mobile-margin-bottom {
  margin-bottom: 30px;
}

.desktop-margin-bottom {
  margin-bottom: 100px;
}